.one, .two, .three {
  width: 10%;
  min-height: 150px;
}

.four{
  width: 11%;
  min-height: 150px;
}

.five {
  width: 17%;
  min-height: 150px;
}

.six {
  width: 13%;
  min-height: 150px;
}


.seven {
  width: 9%;
  min-height: 150px;
}
