body {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
}

div {
    border: 1px solid black;
    height: 200px;
    width: 200px;
    color: black;
}

.red {
  background-color: red;
  flex: 1 0 0;
}

.yellow {
  background-color: yellow;
  flex: 1 0 0;
}

.blue {
  background-color: blue;
}
