  #idx-atf {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background image  */
    background-color: #5b5b5b;
    background-image: url("../img/background-photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-origin: border-box; */
    background-attachment: fixed;
    /* formatting */
    /* border: 10px solid hotpink; */
  }


.idx-center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, button {
  color: white;
}


/* section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.idx-center {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-bottom: -10px;
} */
