.one {
  background-image: url("../../../../010_hands-on-exercises/puppy.jpg");
  background-size: cover;
  width: 100%;
  min-height: 150px;
}

.two {
  background-image: url("../../../../010_hands-on-exercises/puppy.jpg");
  background-size: cover;
  width: 20%;
  min-height: 150px;
}

.three {
  background-image: url("../../../../010_hands-on-exercises/puppy.jpg");
  background-size: cover;
  width: 30%;
  min-height: 150px;
}

.four{
  background-image: url("../../../../010_hands-on-exercises/puppy.jpg");
  background-size: cover;
  width: 50%;
  min-height: 150px;
}

.five {
  background-image: url("../../../../010_hands-on-exercises/puppy.jpg");
  background-size: cover;
  width: 33.33%;
  min-height: 150px;
}

.six {
  background-image: url("../../../../010_hands-on-exercises/puppy.jpg");
  background-size: cover;
  width: 33.33%;
  min-height: 150px;
}


.seven {
  background-image: url("../../../../010_hands-on-exercises/puppy.jpg");
  background-size: cover;
  width: 33.33%;
  min-height: 150px;
}
