.one {
  background-color: red;
}


.two {
  background-color: purple;
}

.three {
  background-color: yellow;
}

.four{
  background-color: grey;
}


.five {
  background-color: green;
}


.six {
  background-color: turquoise;
}


.seven {
  background-color: blue;
}
