body, img, main, nav, div {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  border: 4px solid green;
}


div {
  width: 100px;
  height: 200px;
  margin: 10px;
  border: 2px solid black;
  background-color: tomato;
}

.floated {
  float: left;
}


.cleared {
    width: 90%;
    clear: both;
    /* formatting */
    height: 40px;
}
